@font-face {
	font-family: "ds-digi";
	font-weight: normal;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src: local("DS-DIGI"), url("fonts/DS-DIGI.ttf") format('truetype');
}

@font-face {
	font-family: "open-sans-bold";
	font-weight: normal;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src: local("OpenSans-Bold"), url("fonts/OpenSans-Bold.ttf") format('truetype');
}

* { box-sizing: border-box; }
body {
	font-family: open-sans-bold, sans-serif;
	letter-spacing: -1px;
}
h2 {
	line-height: 1;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 18px;
}

p {
	font-size: 13px;
	margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
	h2 { font-size: 14px; }
}